.principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}

.imagens{
    width: 300px;
    height: 400px;

}
.kannem{
    display: flex;
    justify-content: center;
        width: 400px;
        height: 500px;
        background-image: url(/serigrafia/imagens/20191119_125111.jpg);
        color: #ffffff;
        background-size: 400px 500px
}

.calendario{
    display: flex;
    justify-content: center;
        width: 400px;
        height: 500px;
        background-image: url(/serigrafia/imagens/20191120_185429.jpg);
        color: #ffffff;
        background-size: 400px 500px
}

.copo{
    display: flex;
    justify-content: center;
        width: 400px;
        height: 500px;
        background-image: url(/serigrafia/imagens/20191120_185733a.jpg);
        color: #ffffff;
        background-size: 400px 500px
}
